/* google font */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

/* css reset */
* {
  margin: 0;
  padding: 0;
  font-family: Open Sans;
}

/* common  css */

.btns {
  background-color: #fd6e0a;
  padding: 1.12rem 2.2rem;
  border: none;
  border-radius: 0.3125rem;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 700;
}

.details-text {
  color: #757575;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.875rem;
}

.container {
  margin: 8.13rem 13.3rem;
}

.text-heading {
  color: #181818;
  font-size: 2.1875rem;
  font-weight: 700;
  margin-bottom: 1.88rem;
}

/* main css */

/* header section */

header {
  background-color: #fff8f3;
  background-image: url("../image/header_bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}

header nav {
  display: flex;
  justify-content: space-between;
  padding: 3.17rem 14.13rem;
  align-items: center;
}

header nav .logo {
  color: #181818;
  font-family: Open Sans;
  font-size: 2.8125rem;
  font-weight: 800;
}

header nav .menu {
  display: flex;
  gap: 5rem;
  align-items: center;
}

nav .menu li {
  list-style: none;
  /* margin-left: 5rem; */
}

nav .menu li a {
  text-decoration: none;
  color: #474747;
  font-size: 1.25rem;
  font-weight: 400;
}

.r {
  color: #fd6e0a;
}

/* banner section */

.banner {
  display: flex;
  justify-content: space-between;
  margin: 4.12rem 2.38rem 0 14.3rem;
  align-items: center;
}

.banner img {
  width: 36.5rem;
  height: 42.25rem;
}

.btn2 {
  background: #fff;
  color: #fd6e0a;
  border: 0.1rem solid #fd6e0a;
  margin-left: 1.2rem;
}
.intro {
  color: #474747;
  font-size: 2.8125rem;
  font-weight: 600;
}
.name {
  color: #181818;
  font-size: 5rem;
  font-weight: 700;
  margin-top: 0.3rem;
  margin-bottom: 1.25rem;
}

.buttons {
  margin-top: 1.8rem;
}

/* about me section */
.about-me {
  text-align: center;
  background-color: #fff8f3;
  padding: 8.19rem 9.75rem;
}
.about-info {
  margin-top: 1.88rem;
  display: flex;
  gap: 3.18rem;
  justify-content: center;

  color: #757575;
  font-size: 1.25rem;
  font-weight: 400;
}

.about-info h4 {
  color: #424242;
  font-size: 1.2rem;
  font-weight: 700;
}

/* what do i do section */

.what-do-i-do > h3,
.what-do-i-do p {
  text-align: center;
}
.skils {
  display: flex;
  gap: 1.5rem;
}

.skill {
  padding: 1.87rem 2rem;
  background-color: #fff;
  border-radius: 0.3125rem;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skill p {
  text-align: left;
}
.skils h4 {
  margin-bottom: 1.25rem;
  margin-top: 1.88rem;
}
